body {
  background: linear-gradient(to right,white 50%, rgba(180, 224, 170, 0.9255) 50%);
}

#logo {
    margin-left: 3em;
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    margin-top: 1.5em;
}

#cabecalho {
    display: flex ;
    list-style: none;
    overflow: hidden;
    gap: 5%;
    margin-left: 15em;
    margin-top: -3.5em;
}

#cabecalho-2 {
    display: flex ;
    list-style: none;
    overflow: hidden;
    gap: 5%;
    margin-left: 70em;
    margin-top: -2.5em;
}


li {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 1.2em;
}

#div-1 {
    display: flex;
    margin-left: 90em;
    overflow: hidden;
    gap: 7%;
    margin-top: -3.5em;
}

#login {
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 2.5em;
    margin-left: 7em;
    margin-top: 5em;
}

#facebook {
    width: 2em;
    margin-left: 20%;
}

#google {
    width: 2em;
    margin-left: 1em;
}

#linkedin {
    width: 2em;
    margin-left: 1em;
    
}

#email {
    margin-left: 17em;
    margin-top: 2em;
    border-radius: 10em;
    width: 30em;
    height: 2em;
}


#senha {
    margin-top: 1em;
    border-radius: 10em;
    width: 30em;
    height: 2em;
    display: flex;
    margin-left: 17em;
}

#esqueceu-senha {
    font-family: 'PT Sans Caption', sans-serif;
    font-weight: 700;
    color: rgba(130, 130, 130, 1);
    font-size: 1.2em;
    margin-left: 23em;
    margin-top: -0.1em;
}

#botao-entrar {
    font-family: 'PT Sans Caption', sans-serif;
    font-weight: 700;
    border-radius: 10em;
    background: #000;
    color: white;
    width: 20em;
    height: 2.5em;
    margin-left: 22em;
}


#sem-login {
font-family: 'Inter', sans-serif;
font-weight: 800;
font-size: 2.5em;
margin-left: 10em;
margin-top: -4em;
}

#txt-1 {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 2.5em;
    text-align: center;
    margin-left: 10em;

}


#botao-cadastrar {
    font-family: 'PT Sans Caption', sans-serif;
    font-weight: 700;
    border-radius: 10em;
    background: #000;
    color: white;
    width: 20em;
    height: 2.5em;
    margin-left: 30em;
    margin-top: 4.5em;
}

#div1 {
    display: flex;
    
} 