
    
body {
    background: linear-gradient(to right, rgba(180, 224, 170, 0.9255) 50% , white 50%);
  }
  
  #logo {
      margin-left: 3em;
      font-family: 'Inter', sans-serif;
      font-weight: 900;
      margin-top: 1.5em;
  }
  
  #cabecalho {
      display: flex ;
      list-style: none;
      overflow: hidden;
      gap: 5%;
      margin-left: 15em;
      margin-top: -3.5em;
  }
  
  #cabecalho-2 {
      display: flex ;
      list-style: none;
      overflow: hidden;
      gap: 5%;
      margin-left: 50em;
      margin-top: -2.5em;
  
  }
  
  
  li {
      font-family: 'Inter', sans-serif;
      font-weight: 500;
      font-size: 1.2em;
  }
  
  #div-1 {
      display: flex;
      overflow: hidden;
      gap: 7%;
      margin-top: -3.5em;
      margin-left: 70em;
  }


#conta {
    font-size: 2em;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    margin-left: 6em;
    margin-top: 5em;
}


#txt-1 {
font-family: 'Inter', sans-serif;
font-weight: 400;
font-size: 2em;
margin-right: 22em;
text-align: center;
}


#cadastre {
    font-size: 2em;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    margin-left: 6em;
    margin-top: 5em;
}